{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avaliação de Usuários</title>
    <link rel="stylesheet" href="{% static 'avaliacionesgeral.css' %}">
    
    <style>
        /* Estilo para exibir os h2 lado a lado */
        .avaliacoes h2 {
            display: inline-block;
            margin-right: 40px; /* Aumenta a distância entre os h2 */
        }

        /* Estilo para estrelas vazias */
        .avaliacao-rating .avaliacao-estrela {
            color: #ccc; /* Cor das estrelas vazias */
        }
    </style>
</head>
<body>

<header>
    <div class="container">
        <h1 id="Eye">EYE OF JOB</h1>
        <div class="linha-de-separacao"></div>
        <nav>
            <ul>
                <li><a href="{% url 'inicio' %}">Home</a></li>
                <li><a href="{% url 'personuser' %}">Perfil</a></li>
                <li><a href="{% url 'projetos' %}">Projetos</a></li>
                <li><a href="{% url 'search' %}">Pesquisa</a></li>
                <!-- Adicione mais links de navegação conforme necessário -->
            </ul>
        </nav>
    </div>
</header>
<br>
<br>
<h1><b>NOME DA EMPRESA</b></h1>
<br>
<hr>
<br>

<!-- Formulário de avaliação -->
<div class="formulario">
    <form id="avaliacaoForm" method="post" action="{% url 'avaliacaogeral' %}">
        {% csrf_token %}
        <label for="avaliado">Nome do Funcionário:</label>
        <input type="text" id="avaliado" name="avaliado" required><br><br>
        
        <div class="rating">
            <input type='radio' hidden name='rate' id='rating_5' data-idx='0' value='5'>	
            <label for='rating_5'></label>
        
            <input type='radio' hidden name='rate' id='rating_4' data-idx='1' value='4'>
            <label for='rating_4'></label>
        
            <input type='radio' hidden name='rate' id='rating_3' data-idx='2' value='3'>
            <label for='rating_3'></label>
        
            <input type='radio' hidden name='rate' id='rating_2' data-idx='3' value='2'>
            <label for='rating_2'></label>
        
            <input type='radio' hidden name='rate' id='rating_1' data-idx='4' value='1' required>
            <label for='rating_1'></label>
        </div>

        <div class="wrapper">
            <button href="#" class="enviar-avaliacao" type="submit"><span>Enviar Avaliação</span></button>
        </div>
    </form>
    <div id="erroMessage" style="display: none; color: red;"></div>
</div>

<!-- Pop-up -->
<div id="popup" style="display: none; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); background-color: rgba(0, 128, 0, 0.7); color: #fff; padding: 20px; border-radius: 5px; z-index: 9999;">
    Avaliação enviada com sucesso!
</div>

<!-- Pop-up de erro -->
<div id="erroPopup" style="display: none; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); background-color: rgba(255, 0, 0, 0.7); color: #fff; padding: 20px; border-radius: 5px; z-index: 9999;">
    Usuário não encontrado
</div>

<script>
    document.getElementById("avaliacaoForm").addEventListener('submit', function(event) {
        event.preventDefault(); // Impede o envio do formulário padrão
        enviarAvaliacao(); // Função para enviar a avaliação via AJAX
    });

    function enviarAvaliacao() {
        var formData = new FormData(document.getElementById("avaliacaoForm")); // Obtém os dados do formulário

        // Envia os dados via AJAX usando Fetch API
        fetch("{% url 'avaliacaogeral' %}", {
            method: "POST",
            body: formData,
            headers: {
                "X-CSRFToken": document.getElementsByName("csrfmiddlewaretoken")[0].value // Adiciona o token CSRF no cabeçalho
            }
        })
        .then(response => {
            if (response.ok) {
                return response.json(); // Retorna a resposta como JSON se for bem-sucedida
            } else {
                throw new Error("Erro ao enviar avaliação"); // Lança um erro se a resposta não for bem-sucedida
            }
        })
        .then(data => {
            if (data.status === "success") {
                // Exibe o pop-up de sucesso
                mostrarPopup("Avaliação enviada com sucesso!", "popup");
                document.getElementById("avaliado").value = ""; // Limpa o campo de texto 'avaliado'
                document.getElementById("rating_1").checked = false; // Desmarca a opção de avaliação
            } else {
                // Exibe um pop-up de erro informando que o usuário não foi encontrado
                mostrarPopup("Usuário não encontrado", "erroPopup");
            }
        })
        .catch(error => {
            console.error('Erro:', error); // Exibe o erro no console
            mostrarPopup("Erro ao enviar avaliação. Por favor, tente novamente.", "erroPopup"); // Exibe mensagem de erro genérica
        });
    }

    function mostrarPopup(mensagem, idPopup) {
        var popup = document.getElementById(idPopup);
        popup.innerText = mensagem;
        popup.style.display = "block";
        setTimeout(function() {
            popup.style.display = "none";
            location.reload();
        }, 1000); // Oculta o pop-up após 1 segundos
    }
</script>

<!-- Lista de funcionários avaliados -->
<div class="avaliacoes">
    <br>
    <br>
    <h2>Funcionários disponíveis para avaliação</h2>
    
    <ul class="u">
        {% for nomes in usuarios %}
            <li>{{ nomes.username }}</li>
        {% empty %}
            <li>Nenhum funcionário disponível para avaliação.</li>
        {% endfor %}
    </ul>
    
    <br>
    <br>
    <h2>Últimas avaliações:</h2>
    <ul>
        {% for avaliacao in avaliacoes %}
            <li class="avaliacao-item">
                {{ avaliacao.avaliado }} - 
                <span class="avaliacao-rating">
                    {% if avaliacao.nota >= 1 %}
                        &#9733; <!-- Estrela preenchida -->
                    {% else %}
                        &#9734; <!-- Estrela vazia -->
                    {% endif %}
                    {% if avaliacao.nota >= 2 %}
                        &#9733; <!-- Estrela preenchida -->
                    {% else %}
                        &#9734; <!-- Estrela vazia -->
                    {% endif %}
                    {% if avaliacao.nota >= 3 %}
                        &#9733; <!-- Estrela preenchida -->
                    {% else %}
                        &#9734; <!-- Estrela vazia -->
                    {% endif %}
                    {% if avaliacao.nota >= 4 %}
                        &#9733; <!-- Estrela preenchida -->
                    {% else %}
                        &#9734; <!-- Estrela vazia -->
                    {% endif %}
                    {% if avaliacao.nota >= 5 %}
                        &#9733; <!-- Estrela preenchida -->
                    {% else %}
                        &#9734; <!-- Estrela vazia -->
                    {% endif %}
                </span>
            </li>
        {% empty %}
            <li>Nenhum funcionário avaliado ainda.</li>
        {% endfor %}
    </ul>
</div>

</body>
</html>


