{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avaliação de Usuários</title>
    <link rel="stylesheet" href="{% static 'avaliacaogeral.css' %}">
    
</head>
<body>

<header>
    <img src="logo.webp">
</header>

<h1><b>AVALIE OUTROS FUNCIONÁRIOS</b></h1>

<div class="formulario">
<form method="post" action="{% url 'avaliacaogeral' %}">
    {% csrf_token %}
    <label for="funcionario_name">Nome do Funcionário:</label>
    <input type="text" id="funcionario_name" name="funcionario_name" required><br><br>
    
    <div class="rating">
        <input type='radio' hidden name='rate' id='rating_5' data-idx='0' value='5'>	
        <label for='rating_5'></label>
    
        <input type='radio' hidden name='rate' id='rating_4' data-idx='1' value='4'>
        <label for='rating_4'></label>
    
        <input type='radio' hidden name='rate' id='rating_3' data-idx='2' value='3'>
        <label for='rating_3'></label>
    
        <input type='radio' hidden name='rate' id='rating_2' data-idx='3' value='2'>
        <label for='rating_2'></label>
    
        <input type='radio' hidden name='rate' id='rating_1' data-idx='4' value='1'>
        <label for='rating_1'></label>
    </div>

    <button type="submit">Enviar Avaliação</button>
</form>
</div>

</body>
</html>