<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    
    <h1 class="text-center my-4">My projects</h1>
    
    <a href="{% url 'projetos' %}" class="btn btn-outline-secondary position-absolute top-8 end-0">Voltar</a>

    <div class="container">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card">
                    <img src="https://5cae16e8b9a9272944685e58.redesign.static-01.com/l/images/8fd3e75f2221b5089d3f5d975dfa50a22c0579c9.png" class="card-img-top" alt="Novo">
                    <div class="card-body">
                        <h5 class="card-title">Access my projects</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Acesso Projeto</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="https://5cae16e8b9a9272944685e58.redesign.static-01.com/l/images/8fd3e75f2221b5089d3f5d975dfa50a22c0579c9.png" class="card-img-top" alt="Novo">
                    <div class="card-body">
                        <h5 class="card-title">Access my projects</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Acesso Projeto</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="https://5cae16e8b9a9272944685e58.redesign.static-01.com/l/images/8fd3e75f2221b5089d3f5d975dfa50a22c0579c9.png" class="card-img-top" alt="Novo">
                    <div class="card-body">
                        <h5 class="card-title">Access my projects</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Acesso Projeto</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="https://5cae16e8b9a9272944685e58.redesign.static-01.com/l/images/8fd3e75f2221b5089d3f5d975dfa50a22c0579c9.png" class="card-img-top" alt="Novo">
                    <div class="card-body">
                        <h5 class="card-title">Access my projects</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Acesso Projeto</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
