{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar usuário</title>
    <link rel="stylesheet" href="{% static 'personuser.css' %}">
</head>
<body>

    <form action="{% url 'home' %}" method="POST" enctype="multipart/form-data">{% csrf_token %}
        <input type="file" name="my_file">
        <input type="submit" value="enviar">
        <label for="texto"></label>
        <input type="text" id="texto" name="texto">
        <input type="submit" value="Salvar">
    </form>
    
    <h5 class="h5">Informações de usuário:</h5>

    <h1 class="h1">Nome Colaborador</h1>
    <h3 class="h3">Seus projetos:</h3>