{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar usuário</title>
    <link rel="stylesheet" href="{% static 'personuser.css' %}">
</head>
<body>

    
    <p>Criar imagem editável aqui:</p>
    <img crc="imagem.png" link="">

    <h5>Informações de usuário:</h5>

    <form>
        <label for="texto"></label>
        <input type="text" id="texto" name="texto">
        <input type="submit" value="Salvar">
    </form>

    <h1>Nome Colaborador</h1>
    <h3>Seus projetos:</h3>

    <form>
        <label for="texto"></label>
        <input type="text" id="texto" name="texto">
        <input type="submit" value="Salvar">
    </form>
    
</body>
</html>