.h5 {
    text-align: left;
    padding-top: 5px;
    padding-left: 10px;
}

.h1 {
    padding-top: 0px;
    text-align: center;
}

.form1 {
    padding-left: 10px;
    padding-top: 300px;
}

.form2 {
    padding-left: 8px;
}

.button{
    background-color: cornflowerblue;
}